<html lang="ko" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta carset="UTF-8">
	</head>
	<body>
		<header th:insert="header_nav.html"></header>
		<h1>아이템 리스트</h1>
		<form action="/item/list/1">
			<div class="input-group">
			  <select name="sort" class="form-select" id="inputGroupSelect04" aria-label="Example select with button addon">
			    <option selected>정렬할 칼럼</option>
			    <option value="itemNum">itemNum</option>
			    <option value="name">name</option>
			    <option value="title">title</option>
			    <option value="price">price</option>

			  </select>
	
			  <select name="desc" class="form-select" id="inputGroupSelect04" aria-label="Example select with button addon">
			    <option selected>정렬순서</option>
	
			    <option value="desc">큰거부터(desc)</option>
			    <option value="asc">작은거부터(asc)</option>
			  </select >
			  <button class="btn btn-outline-primary" type="submit">Button</button>
			</div>
		</form>
		<table class="table">
			<thead>
				<tr>
					<th>item_num</th>
					<th>name</th>
					<th>title</th>
					<th>count</th>
					<th>price</th>
					<th>member_id(mem.name)</th>
					<th>cate_num(cate.cate_num)(sub)</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="item:${itemList}">
					<td th:text="${item.itemNum}"></td>
					<td th:text="${item.name}"></td>
					<td th:text="${item.title}"></td>					
					<td th:text="${item.count}"></td>
					<td th:text="${item.price}"></td>
					<td>
						<span th:text="${item.member?.id}"></span>
						(<span th:text="${item.member?.name}"></span>)
					</td>
					<td>
						<span th:text="${item.cateNum}"></span>
						(<span th:text="${item.category?.name}"></span>)
						(<span th:text="${item.category?.cateNum}"></span>)
					</td>
				</tr>		
			</tbody>
		</table>
		<p>
			totalPages: <strong th:text="${itemList.totalPages}"></strong>,
			nowPage: <strong th:text="${itemList.number+1}"></strong>
			hasNext: <strong th:text="${itemList.hasNext}"></strong>
			hasPrev: <strong th:text="${itemList.hasPrevious}"></strong>
			param.sort: <strong th:text="${param.sort}"></strong>

		</p>
		<!-- pageStart  pageEnd pageNow-->
		<div th:with="	totalPages=${itemList.totalPages}, 
						nowPage=${itemList.number+1}, 
						hasNext=${itemList.hasNext}, 
						hasPrev=${itemList.hasPrevious},
						startPage=${((nowPage-3)<=0)?1:nowPage-3},
						endPage=${((nowPage+3)>=totalPages)?totalPages:nowPage+3
						
						}
						">
			<nav th:insert="/pagination.html"></nav>					
		<div>
	</body>
</html>