<html lang="en" xmlns:th="http:/www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<!--정적파일 위치인 static도 root경로로 인지-->
		<script src="/js/mem/signup.js" defer="defer">
		
		</script>
	</head>
	<body>
		<header th:insert="header_nav.html"></header>
		<h1>회원가입 페이지</h1>
		<form action="/mem/signup" method="post" name="signup">
			<p>
			<label>
				아이디: <input type="text" name="id" value="" placeholder="아이디 입력">
			</label>
			<span id="checkId">중복체크중입니다.</span>
		</p>
		<p>
			<label>
				이메일: <input type="text" name="email" value="" placeholder="hong@gmail.com">
			</label>
			<span id="checkEmail">중복체크중입니다.</span>
		</p>
		<p>
			<label>
				폰: <input type="text" name="phone" value="" placeholder="010-1234-1234">
			</label>
			<span id="checkPhone">중복체크중입니다.</span>
		</p>
		<p>
			<label>
				pw: <input type="text" name="pw" value="1234">
			</label>
			<span id="checkPw">길이가 4이상</span>
		</p>
			<p>
			<label>
				pw: <input type="text" name="pw_check" value="">
			</label>
			<span id="checkPwCheck">중복체크중입니다.</span>
		</p>
		
		<p>
			<label>
				이름: <input type="text" name="name" value="길동">
			</label>
		</p>
		<p>
			<label>
				주소: <input type="text" name="address" value="서울">
			</label>
		</p>
		<p>
			<label>
				주소상세: <input type="text" name="address_detail" value="종로">
			</label>
		</p>
	
		<p>
			<label>
				등급: <select size="1" name="grade">
						<option value="0">총관리자(0)</option>
						<option value="1">관리자(1)</option>
						<option value="2">판매자(2)</option>
						<option value="3" selected>소비자(3)</option>
						<option value="4">탈퇴(4)</option>
					</select>
			</label>
		</p>
		<p>
			<label>
				생일: <input type="date" name="birth" value="1900-01-01" pattern="yyyy-mm-dd">
			</label>
		</p>
		
		<p>
			<button type="reset">리셋</button>
			<button type="submit">제출</button>
		</p>
		</form>
	</body>
</html>